
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

body {
    margin: 0;
    color: white;
    background-image: url("Img/TabernBG.jpg");
    backdrop-filter: blur(5px);
    background-size: cover;

}


.titulo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 5px 5px 5px #00000071;
    background-color: #0e121b;
    
    
}


.titulo img {
    display: inline;
    padding: 10px;
    vertical-align: middle;
    height: 2em;
    width:  2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr {
  border: none;
  height: 2px;
  background-color: #d15014;
}

.container_title {
    color: #d15014;   
    background-color:#0000002f ;
    border-radius: 7px;
    padding: 10px;
    font-family: "Cinzel Decorative", serif; 

}

.container {
    margin: 10px;
    border-style: solid;
    border-radius: 7px;
    border-color: #d15014d2;
    border-width: 1px;

    background-color:#0e121b ;
    padding: 10px;

    filter: drop-shadow(5px 5px 5px #000000e1);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 5px #000000c7;



}

@keyframes scroll {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
    
}



.infoblock {
    flex: 0 0 5em;
    width: 25em;
    height: auto;
    
    flex: 0 0 auto;

    text-align: center;
    align-content: center;

    background-color: #111111be;
    backdrop-filter: blur(25px);
    border-style: solid;
    border-radius: 15px;
    border-color: #d15014a4;
    border-width: 2px;
    padding: 10px;
    filter: drop-shadow(7px 7px 7px #000000c9);

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.infoblock img {
    width: 100%;
    height: 55%;
    object-fit: cover;
    align-items: end;
}

.infoblock:hover {
    border-color: #dd5719;
 
}

.containersf {
    margin:100px auto;
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.containersf::-webkit-scrollbar {
    display: none;
}

.scrollingframe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

}


.texto_cuerpo {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.importante {
    color:#db5a1e;
    font-family: 'Courier New', Courier, monospace;
    font-style: unset;
    background-color: #090b11;
    border-radius: 5px;
    padding: 2px;
    text-decoration: none;
}

.importante:hover {
    color: #ff9d6f;
    padding: 4px;

    border-style: solid;
    border-color: #f570338e;
    border-width: 1px;
    text-decoration: underline;
}

.shoplist {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 3em;
    border-radius: .7em;
    border-style: solid;
    border-width: 1px;
    border-color: #d15014;
    background-color: #0a0c13;
    
    
}

.shopframe {
    
    flex: 0 0;
    border-width: 1px;
    border-style: solid;
    border-color: #d15014be;
    

}

.shopframe h1 {
    background-color: #0e121be5;
    border-radius: .5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: .5em;
    width: auto;
    height: auto;
}

.shopframe p {
    background-color: #0e121be5;
    border-radius: .5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: .5em;
    width: auto;
    height: auto;
}


.shopframe img {
   
    object-fit: contain;
    
}

@keyframes appear {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
         transform: translateY(0%);
         opacity: 1;
    }
}

@keyframes on_hover {
    0% {
        transform: translateY(0%);
        
    }
    100% {
         transform: translateY(-6%);
         color: #d15014;
    }
}

.topscreen {
    
    padding:1em;
    background-color: #0a0c13;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #d15014;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.507));
    display: flex;  
    gap: 1em;  
   
}

.topscreen img {
    animation: appear 0.6s ease forwards;
    width: 5em;
    height: 5em;
    align-items: center;

}

.topscreen h1 {
   animation: appear 0.6s ease forwards;
     font-family: "Cinzel Decorative", serif;
    align-items: center;
    text-align: center;
}

.topscreen ol {
   animation: appear 0.6s ease forwards;
    margin-left: 3em;
    flex-grow: 1;
    padding: 1em;

    border-style: solid;
    border-width: 1px;
    border-radius: 3em;

    border-color: #d150148f;

    display: flex;
    gap: 2em;
    align-items: center;
    text-align: center;
    list-style: none;

    
}

.topscreen li {
    
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-family: "Cinzel Decorative", serif;
    background-color: #0e121b;
    border-radius: 3em;

    }

.topscreen li:hover {
  animation: on_hover 0.07s ease-in forwards;
}